@media (max-width:992px) {
	.body-bg,
    .container {
        width:100%;
    }
}

@media (max-width:768px){
	.box-item .box-info-in .box-mota {
		font-size: 14px !important;
	}
	.box-item .box-info-in .box-title {
		top: -33px !important;
		font-size: 30px !important;
	}
	.box-item .box-info-in {
		width: auto !important;
		height: 100% !important;
		background-size: 100% 100%;
	}
	.box-item .box-info {
		width: auto !important;
		margin: auto 15px
	}
	.bandogoogle .border_map {
		width: auto !important;
	}
}

@media (max-width:767px) {
	.title_home_block{
		margin-left:0px
	}
	.san-pham-chinh{
		padding:0px
	}
	.content_home_block{
		margin:0px
	}
	.content_home_block em{
		float:right
	}
	.customNavigation{
		display:block !important
	}
	.bandogoogle .border_map{
		width:100%
	}
	/*.box-item .box-info{
		left:15px;
		width:92%;
		height:120px;
		top:22%
	}*/
	.box-item .box-info-in{
		background-size:100% 100%
	}
	.box-item .box-info-in .box-title{
		top: -25px;
		font-size: 29px;
	}
	.box-chuyen-muc{  
		height:auto;
		margin-top:30px
	} 
	.box-item .box-info-in .box-mota{
		font-size:14px;
		padding:20px
	}
	.box-co-so-san-xuat{
		margin-top:40px;
		width: 100%;
	}
	.mota_gt{
		padding-right:0;
	}
	.box-co-so-san-xuat img{
		width:100%
	}
	.bandogoogle {
		float: none;
	}
	.bandogoogle iframe{
		height:300px
	}
	.language a {
		margin-left: 4px;
		font-size: 14px;
	}
	
	.archive-title{
		background-size: 100% 100% !important;
		height: 126px;
	}
	.archive-title span{
		line-height:126px;
		font-size:35px
	}
	.category_post .img_category_post{
		min-height:auto
	}
	.category_post .entry-title{
		font-size:27px
	}
	.conten_about{
		padding:0px
	}
	blockquote{
		font-size:20px
	}
	.list_new{
		padding:15px;
		border-bottom:1px solid #b3b3b3
	}
	.list_new .post-thumbnail{
		float:none !important
	}
	.list_new .post-thumbnail img{
		width:100%;
		height:auto
	}
	.list_new h3{
		border:none
	}
	.detail_post .entry-title{
		font-size:25px
	}
	#main-content-sanpham .thumb-sanpham{
		max-width:100%
	}
	#main-content-sanpham .mota-sanpham{
		margin:30px 0px
	}
	.info_detail_sp{
		padding-left:0px
	}
	.imgage_other ul{
		display:table
	}
	.imgage_other ul li{
		display:table-cell
	}
	.imgage_other ul li img{
		max-width:100%
	}
	.relate-post ul{
		padding-left:40px
	}
	.bnt_sanpham .arrowleft{
		left:0px
	}
	.bnt_sanpham .arrowright{
		right:0px
	}
}

@media (max-width:499px) {
	
	#header {
		margin-bottom: -39px;
	}
	#header .logo img {
		max-height:80px
	}
	.menu{
		line-height:60px
	}
	.menu img{
		zoom:60%
	}
	.hotline{
		line-height:20px
	}
	.hotline img{
		max-height:30px
	}
	
	
	
}