/* Global */
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700&subset=vietnamese');
html,
body {
    width:100%;
    height:100%;
    margin:0;
    padding:0
}

body {
    color: #333;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.72857;
}

a,
a:link,
a:active,
a:visited {
    color:#333;
}

a:hover,
a:focus {
    text-decoration:none;
    color:#333;
}

.container{
    position:relative;
	width:1122px
}
.panel {
    margin-bottom: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
	border-radius:0px
}

.margin-bottom{
	margin-bottom:10px
}

/*header*/
#header{
	margin-bottom: -59px;
}

#header .logo{
	text-align:center;
	padding:10px 0px
}
#header .logo img{
	position:relative;
	z-index:999
}
.header-nav {
    position:absolute;
    top:0;
    left:0;
    height:113px;
    color:#5e5e5e;
	width:100%
}

.header-nav a{
	color:#0d668f;
}

.language a{
	margin-left:10px
}

.hotline {
    line-height:40px;
    float:right;
	text-align:right
}
.hotline .language{
	text-align:right
}
.language img{
      margin:2px;
}
/*Menu*/
.menu{
	float:left;
    line-height: 125px;
}
.menu a{cursor:pointer}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #11668f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 124px;
	z-index:1000
}
.sidenav ul{
	width: 300px;
    margin-left: 55px;
}
.sidenav ul ul{
    margin-left: 0px;
	width: 260px;
}
.sidenav li a{
	border-bottom:1px solid #fff;
	padding: 13px 0 13px 0;
}
.sidenav li a:hover{
	background-color:#df963a
}
.sidenav li>ul>li a, .sidenav li:last-child a{
	border:none
}
.sidenav a {
    padding: 0;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn span{
    font-size: 25px;
    display: inline-block;
    color: #fff;
    margin-top: 18px;
    background: #df963a;
    line-height: 1;
    padding: 5px;
}
.sidenav .closebtn {
    position: absolute;
    top: 32px;
    left: 94px;
    font-size: 36px;
    line-height: 0.6;
}
@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}
.sidenav ul{
	list-style:none
}
/*main-content*/
#main-content{
	margin-top:30px;
}

.title_home_block{
	margin-left: 50px;
    font-size: 24px;
    font-weight:700;
    color: #0d668f;
    background: url(../images/bg_title_home_03.png) no-repeat bottom center;
    display: inline-block;
    padding: 3px 10px;
	background-size:100%;
	margin-bottom:15px
}

.box-co-so-san-xuat .title_home_block, .box-san-pham .title_home_block{
	margin-left: 0px;
}

.content_home_block{
	margin: 0px 0px 0px 50px;
	font-size:19px
}

.content_home_block em{
	background:#de953a;
	color:#fff;
	padding:0px 16px 
}

.sp-noibat{
	margin-top:50px;
	position:relative
}
.sp-box{
	margin-top:50px;
	margin-bottom:50px;
	position:relative
}

.item_sanpham{
	text-align:-webkit-center;
	position:relative;
	overflow:hidden;
	margin:0px 25px
}
.item_sanpham .info{
	background:#fff url(../images/sanpham_06.png) no-repeat top center;
	margin-top:-38px;
	position:relative;
	z-index:11
}

.item_sanpham .info .ten{
	font-family: 'Lobster', cursive;
	font-size:36px;
	color:#0d668f;
}

.box-chuyen-muc{
	margin-top: 50px;
    overflow: hidden;
}

.pd_0{
	padding:0px
}

.box-item{
	position:relative;
	display:block;
	overflow:hidden
}
.box-item img{
	width:100%;
	height:100%;
	max-height:412px;
	-moz-transition: all 5s;
  -webkit-transition: all 5s;
  transition: all 5s;
}
.box-item:hover img{
	-moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.box-item .box-info{
    position: absolute;
    z-index: 999;
    width: 412px;
    height: 143px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.box-info a{
	color:#fff
}
.box-item .box-info-in{
	background: url(../images/bg_box_03.png) no-repeat;
    color: #fff;
    text-align: justify;
    position: relative;
	width:100%;
	height:100%;
	background-size: 100% 100%;
}

.box-item .box-info-in .box-title{
	position:absolute;
	top:-33px;
	font-size:36px;
	font-family: 'Lobster', cursive;
	width:100%;
	text-align:center
}

.box-item .box-info-in .box-mota{
	padding:28px;
	font-size:15px
}

.box-item .box-info-in .box-xem{
	position: absolute;
    bottom: -13px;
    width:100%;
	text-align:center
}
.box-item .box-info-in .box-xem a span{
	color:#fff;
	background: #de953a;
    padding: 3px 8px;
    font-style: italic;
	font-weight:700;
}

.box-co-so-san-xuat{
	margin-top:50px
}

.bandogoogle{
	float:right;
	
}

.bandogoogle .border_map{
	width:400px;
	border: 2px solid #0d668f;
	padding:10px
}
.bandogoogle iframe{
	max-width:100%;
	height:380px
}

.xemthem_g{
	text-align:center
}
.xemthem_g span{
	background:#de953a;
	font-style: italic;
    font-weight: 700;
	color:#fff;
	padding:3px 10px;
	display:inline-block;
	margin-top:20px
}
.box-co-so-san-xuat img{
	width:100%
}
.mota_gt{
	font-size:13px;
	padding-right:80px;
	text-align:justify;
	line-height:17px
}

.box-tin-tuc{
	margin-top:50px;
	padding:65px 0px;
	margin-bottom:50px
}

.box-news{
	background:#fff;
	padding:30px 20px 63px 20px;
	text-align:-webkit-center
}

.box-news-content{
	text-align:left;
	position:relative
}
.box-news-content h3{
	 font-size:18px;
	 font-weight:bold
}
.box-news-content .nd{
	margin-top:25px;
	margin-bottom:10px
}

.box-news-content .xemchitiet {
	color:#de953a;
	font-style:italic;
	font-size:11px;
	 font-weight: 700;
}

/*Archive*/
.archive-title{
	height:231px;
	text-align:center;
	background-size: 100%;
    background-repeat: no-repeat;
}
.archive-title span{
	color:#fff;
	line-height: 231px;
	display:block;
	font-size:60px;
	font-family: 'Lobster', cursive;
	
}

/*category_post*/
.category_post{
	margin-bottom:35px;
	text-align:-webkit-center
}
.category_post .img_category_post, .list-buangon .img_category_post{
	width:100%;
	min-height:325px
}
.category_post .entry-title{ 
	color:#0d668f;
	font-family: 'Lobster', cursive;
	padding-left:30px;
	font-size:36px
}

.list-buangon .entry-title{ 
	color:#0d668f;
	font-family: 'Lobster', cursive;
	font-size:24px
}

.list-buangon .entry-author, .list-buangon .entry-category{
	font-style: italic;
	color:#de953a
}

.entry{
	padding-left: 30px;
}

.entry-author {
	margin: 0 10px 0 0
}

.entry-category, .entry-date {
	margin: 0 10px 0 10px
}

.category_post .entry-title a{
	color:#0d668f;
} 
.category_post .buangon-description{
	padding:0px 73px
}

.category_post .entry-author{
	font-style:italic;
	color:#e09d4f;
	text-transform: capitalize;
}

.detail_post .entry-title{
	font-size:30px;
	font-family: 'Lobster', cursive;
	margin-top:5px
}

.detail_post .entry-content img{
	width:100%;
	height:auto
}

.detail_post{
	margin-bottom:50px
}

/*head_widget*/

#sidebar{
	margin-top:25px;
}

#sidebar ul{
	list-style-image: url(../images/li_bg_03.png);
	padding-left:15px
}

#sidebar li{
	margin-bottom:10px;
	list-style-type: square;
}
.head_widget{
	 font-weight: 700;
	font-size:18px;
	color:#0d668f;
	border-bottom:1px solid #0d668f;
	padding-bottom:10px;
	margin-bottom:10px
}


/*contact*/

.map_block{
	border:10px solid #eaeaea;
	width:100%
}

.breadcrumb{
	font-size:18px;
	background:#fff;
	padding:10px 0px;
	color:#0d668f;
	font-weight:bold;
	 font-weight: 700;
}
.breadcrumb a{
	color:#0d668f
}
.info_contact{
	line-height:24px
}

.ct-form .form-group-lg .form-control {
    border-radius: 0px;
	background:#f5f5f5;
	border:none;
	box-shadow: none;
	font-size:14px
}

.btn-primary {
    color: #fff;
    border-color: #3f3d3d;
	border-radius:0px
}
.ct-form  .btn {
    text-align: left;
    background: #3f3d3d url(../images/contact-arrow.png) no-repeat;
    padding-top: 12px;
	text-align:left
}

/*tin tức sự kiện*/

.list_new{
	padding:0px 130px 0px 210px;
}
.list_new ul{
	padding:0px;
	list-style:none
}
.list_new .post-thumbnail{
	padding-right:15px;
	background:#fff
}

.list_new h3{
	font-weight:bold;
	font-size:18px;
	border-top: 2px solid #b3b3b3;
	padding-top:15px
}

.read-more{
	font-style:italic;
	color:#de953a !important
}

/*About*/

.conten_about{
	padding-left:183px;
	padding-right:188px
}
.conten_about img{
	max-width:100%;
	height:auto
}

.nav>li{
	margin-right:15px
}
.nav>li>a{
	font-family: 'Lobster', cursive;
	font-size:24px;
	padding:8px 0px;
	border:none
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
	color: #0d668f;
    background-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #0d668f;
    cursor: default;
    background-color: #fff;
	border:none;
    border-bottom: 2px solid #0d668f;
}

.tab-content{
	padding:15px 0px
}

blockquote {
	padding: 5px;
    margin: 0;
    border: none !important;
	font-family: 'Lobster', cursive;
	position:relative;
	font-size:30px;
	margin:20px 0px
}

blockquote:before{
	content:"";
	background: url(../images/bd_quote_03.png) no-repeat center;
	position:absolute;
	top:0px;
	height:5px;
	width:100%
}
blockquote:after{
	content:"";
	background: url(../images/bd_quote_06.png) no-repeat center;
	position:absolute;
	bottom:0px;
	height:5px;
	width:100%
}

/*Product*/

#main-content-sanpham{
	background:url(../images/bg_sanpham.png);
	background-size:100%;
	padding:40px 0px
}

#main-content-sanpham .thumb-sanpham{
	text-align:center;
	max-width:90%
}

#main-content-sanpham .mota-sanpham{
	margin:30px 80px 30px 105px;
	background:url(../images/bg_chitietsp_03.png) no-repeat;
	background-size:100% 100%;
	padding:45px 55px;
	text-align:justify;
	position:relative
}

#main-content-sanpham .mota-sanpham .entry-title{
	position: absolute;
    width: 100%;
    top: -25px;
    text-align: center;
    left: 0;
	color:#0d668f
}

.info_detail_sp{
	padding-left:70px
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border:none
} 

.imgage_other ul{
	padding:0px;
	list-style:none
}
.imgage_other ul li{
	display:inline-block;
	margin-right:42px;
	text-align:center;
	font-weight:700;
	color:#0d668f
}

.relate-post ul{
	padding:0px
}

.relate-post ul li a{
	font-family: 'Lobster', cursive;
	font-size:20px;
	color:#0d668f
}

.bnt_sanpham .arrowleft, .bnt_sanpham .arrowright{
	width:54px;
	height:54px;
	display:block;
	position:fixed;
	top:60%
}

.bnt_sanpham .arrowleft{
	background:url(../images/arrow_03.png) no-repeat;
	left:10%
}
.bnt_sanpham .arrowright{
	background:url(../images/arrow_05.png) no-repeat;
	right:10%
}

/*footer*/
#footer{
	background:#11668f;
	border-top:8px solid #de953a;
	color:#fff;
	padding: 42px 0px;
}

#footer li {
	text-align:center;
	display:block
}
#footer ul li span{
	background: url(../images/li_bgf_07.png);
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-right: 10px;
}



.slider{
	max-height:512px
}
.note{
	height:145px
}

/* Content bua ngon */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  padding: 5px;
  width: 531px;
  height: 310px;
}
.flex-item:nth-child(3),.flex-item:nth-child(4) {
	margin-top:30px
}

/***/
.bannerhome__top {
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.no-padding {
    padding: 0 !important;
}
.bannertop {
    position: relative;
    width: 100%;
}
.bannertop .bannertop__box {
    text-align: center;
    position: absolute;
    width: 413px;
    height: 145px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    zoom: 1;
    background-color: transparent\9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #e44853;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bannertop .bannertop__box--title {
    font-size: 40px;
    margin: 0 0 20px;
    text-transform: capitalize;
}
.bannertop .btn {
    border-width: 0 0 2px 0;
    border-bottom: 2px solid #e44853;
    padding: 2px 0;
    background: transparent !important;
    color: #222;
    font-weight: 500;
    font-size: 14px;
}
.btn-outline {
    color: #fff;
    background-color: #000;
    border-color: #000;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 0px;
    padding-top: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.img-link img{
	width:100%
}